<nav class="navbar navbar-expand-sm bg-primary navbar-darrk"></nav>
<ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employee" r0outerLinkActive="active" class="nav-link">Employee List

        </a>

    </li>
    <li class="nav=item">
        <a routerLink="create-employee" r0outerLinkActive="active" class="nav-link"> Add Employee

        </a>

    </li>
</ul>


<h1 class="text-center">Angular+SpringBoot+Mysql</h1>

<div class="container">

    <router-outlet></router-outlet>

</div>
<!-- <footer class="footer">
    <div class="container">
        <span>
            All Right
        </span>

    </div>
</footer> -->